# Dependencies
node_modules/

# Data files
data/reviews.csv
data/reviews_photos.csv
data/characteristic_reviews.csv
data/characteristics.csv
testing/

# db backup
*.sql

# Testing
test*
.clinic/

# Keys
sdcyota88.pem
yota88sdc.pem

# env files
.env

# Else
# package-lock.json

# OS level
.DS_Store
